.reviews-animation-enter {
    opacity: 0;
    transform: scale(0.9);
}
.reviews-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.reviews-animation-exit {
    opacity: 1;
}
.reviews-animation-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
