.card {
  margin: 12px;
  padding: 12px;
  background-color: #ccc;
  border: 1px solid #eee;
  border-radius: 5px;
}

.icon {
  fill: green;
}
.cardReviews {
  background-color: #ffffe0;
  margin: 12px;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.rating {
  color: #f00;
}
